.app-error {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 10em;
    max-width: 100%;
    margin: 0.5em auto;
  }

  &__description {
    width: 100%;
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5em 2em;
    max-width: 80%;
    background: white;
    box-shadow: 0 0 3em var(--black-alpha-30);

    h1 {
      margin: 0.5em auto;
    }
  }

  &__data {
    width: 100%;
    text-align: left;
    color: var(--red);
    word-break: break-word;
    max-height: 0;
    transition: all 0.3s ease;
    overflow: hidden;

    &--show {
      padding: 1em;
      max-height: 100vh;
      border: 1px solid var(--red);
    }
  }
}
