@font-face {
  font-family: 'Montserrat';
  src: url('https://s3.amazonaws.com/cdn.wolox.com/fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('https://s3.amazonaws.com/cdn.wolox.com/fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://s3.amazonaws.com/cdn.wolox.com/fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('https://s3.amazonaws.com/cdn.wolox.com/fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://s3.amazonaws.com/cdn.wolox.com/fonts/montserrat-medium-webfont.woff2') format('woff2'),
    url('https://s3.amazonaws.com/cdn.wolox.com/fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://s3.amazonaws.com/cdn.wolox.com/fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('https://s3.amazonaws.com/cdn.wolox.com/fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
