@import '../../Styles/mixins';

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;

    @include from-tablet {
      padding: 0.5em 2em;
    }
  }

  &__logo {
    flex-basis: calc(100% / 6 * 5);
    max-width: calc(100% / 6 * 5);
    padding: 1em 0.5em;
    text-align: center;
    transform: translateY(0);
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-5%);
    }

    svg {
      width: 15em;
      max-width: 100%;
      animation: zoomIn 2s ease;
    }

    @include from-tablet {
      flex-basis: calc(100% / 6);
      max-width: calc(100% / 6);
    }
  }

  &__menu {
    flex-basis: calc(100% / 6);
    max-width: calc(100% / 6);

    @include from-tablet {
      flex-basis: calc(100% / 6 * 5);
      max-width: calc(100% / 6 * 5);
    }
  }
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  z-index: -1;

  &:after {
    content: '';
    width: 100%;
    height: 3em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    box-shadow: 0 -1.5em 1em var(--white);
  }

  &__image {
    position: absolute;
    width: 100vw;
    height: 50vh;
    background-image: url(https://s3.amazonaws.com/cdn.wolox.com/images/background_header.png);
    background-repeat: repeat;
    background-size: cover;
    animation: bgAnimationIn 30s linear infinite;
    animation-delay: 0s;

    &--delay {
      opacity: 0;
      animation-delay: 10s;
    }

    &--delay2 {
      opacity: 0;
      animation-delay: 20s;
    }
  }
}
